node_modules/
dist/
build/
.env
*.log
.env.local
*.tgz
.vscode/
.DS_Store
.terraform/
.aws-sam/
*.zip
**/node_modules
**/dist
**/*.stackdump
# npm / lockfiles
**/package-lock.json
yarn.lock

# workspace artifacts
/node_modules/
/lambdas/*/dist/
/infra/dist/

# OS/editor
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
